.two-total{
    padding: 10px;
}

.two-left{
    display:block
    float: left;
    width:300px;
}

.two-right{
    display:block;
    float: right;
}

.table-headline{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    height: 25px;
    text-align: center;
    align-self: center;
}

a.subheader:link{
    width:25%;
    font-size: smaller;
    text-align: center;
    float: left;
    color: #000000;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    vertical-align: top;
    margin-bottom: 25px;
    text-decoration: none;
}


a.subheader:hover{
    text-decoration: underline;
    width:25%;
    font-size: smaller;
    text-align: center;
    float: left;
    color: #000000;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    vertical-align: top;
    margin-bottom: 25px;
}

/*
 * Control feature layout
 */
.dataTables_wrapper#featureTable_wrapper{
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
    max-width: 300px;
}
/*
 * Control feature layout
 */
.dataTables_wrapper#descriptionTable_wrapper{
    position: relative;
    float: left;
    clear: both;
    *zoom: 1;
    zoom: 1;
    max-width: 500px;
}

div.errorMessage {
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: large;
}

img.adminlogo{
    float: left;
}

a.menulink{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-color: #000000;
    width:100px;
    height: 20px;
    font-size: small;
    text-align: center;
    float: left;
    color: #ffffff;
    vertical-align: middle;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
}
a.menulink:link{
    text-decoration: none;
}


a.menulink:hover{
    text-decoration: underline overline;
}